ion-header {
    // @include gradient-bottom;
    --ion-background-color: rgba(56, 70, 108, .8);
}

ion-content {
    // @include gradient-bottom;
    --ion-background-color: rgba(56, 70, 108, .8);
}

.desktop-footer {
    position: fixed;
    bottom: 0;
    left: 2%;
}

.menu-footer {
    position: fixed;
    bottom: 0;
    left: 2%;
}