<ion-list no-padding no-margin>
    <ion-item color="light" (click)="dismiss('user')">
        <ion-icon slot="start" name="log-in" color="dark"></ion-icon>
        <ion-label padding-left>Login as User</ion-label>
    </ion-item>

    <ion-item color="light" (click)="dismiss('curator')">
        <ion-icon slot="start" name="log-in" color="dark"></ion-icon>
        <ion-label padding-left>Login as Curator</ion-label>
    </ion-item>

    <ion-item color="light" (click)="dismiss('owner')">
        <ion-icon slot="start" name="log-in" color="dark"></ion-icon>
        <ion-label padding-left>Login as Event Owner</ion-label>
    </ion-item>

    <ion-item color="light" (click)="dismiss('switch')">
        <ion-icon slot="start" name="refresh" color="dark"></ion-icon>
        <ion-label padding-left>Switch Event</ion-label>
    </ion-item>

    <ion-item color="light" (click)="gotoLanding() ">
        <ion-icon slot="start" name="log-out" color="dark"></ion-icon>
        <ion-label padding-left>Back to homepage</ion-label>
    </ion-item>
</ion-list>