.track-grid {
    --ion-grid-columns: 12;
    --ion-grid-padding: 0;
    margin: 0px;
    padding: 0px;
    background: #333E46
}

.workaroundTransparency {
    background: #333E46
}

.track-row {
    padding: 0px;
}

.track-col {
    padding: 0px;
}

.track-cover-pic {
    margin: 0px;
    border-radius: 0px;
    width: 64px;
    height: auto;
}

.track-header {
    font-size: 16px;
    // This is needed to avoid that next colums
    // are not visibile to the right, because of long header names.
    // I cant find a way for angular to truncate the content correclty, this
    // is the best workaround I have found:
    width: 10px;
    color: #fff;
    margin: 0px;
    line-height: 100%;
}

.track-details {
    font-size: 14px;
    width: 10px;
    color: #999;
    margin: 0px;
    line-height: 100%;
}

.track-progress-bar {
    font-size: 14px;
    width: 100%;
    color: #999;
    margin: 0px 0px 0px 0px;
    line-height: 100%;
}

.track-progress-counter {
    font-size: 14px;
    width: 100%;
    color: white;
    margin: 0px;
    line-height: 100%;
}

.track-meta {
    line-height: 20px;
    //    padding: 0px;
    //margin: 0px;
    color: #999;
}

.track-genre-col {
    padding: 0px 5px 0px 5px;
    min-width: 120px;
    max-width: 120px;
    margin: 0px;
}

.track-genre-text {
    color: #999;
    font-size: 14px;
    line-height: 100%;
}

.track-meta-col {
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 90px;
}

.track-meta-bar {
    min-height: 10px;
    --background: #3F3F4F;
}

.track-meta-bar-danceability {
    //    --progress-background: rgb(240, 65, 65);
    //   --progress-background: rgb(200, 25, 25);
    --progress-background: rgb(200, 25, 200);
    margin-bottom: 4px;
}

.track-meta-bar-energy {
    //    --progress-background: #008800;
    --progress-background: rgb(215, 166, 0);
    margin-bottom: 4px;
}

.track-meta-bar-happiness {
    //    --progress-background: rgb(255, 206, 0);
    --progress-background: #006600;
}

.track-feedback-col {
    padding-top: 0px;
    min-width: 46px;
}

.track-feedback {
    line-height: 8px;
    text-align: center;
}

.track-feedback-icon {
    margin-top: 2px;
    font-size: 23px;
}

.track-feedback-counter-passive {
    font-size: 14px;
    color: #999;
    margin-top: 4px;
}

.track-button-col {
    min-width: 224;
    // background: #FF00FF;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.track-button {
    //    font-size: 8px;
    max-height: 26px;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0px;
    --padding-start: 19px;
    --padding-end: 19px;
}

.track-button-skip {
    //    font-size: 8px;
    max-height: 26px;
    vertical-align: middle;
    margin-left: 11px;
    margin-right: 11px;
    --padding-start: 19px;
    --padding-end: 19px;
}

.track-button-volume {
    --padding-start: 5px;
    --padding-end: 5px;
}

.track-provider-col {
    min-width: 44px;
    padding: 0px;
    //    background: #FF00FF;
}

.track-provider-logo {
    width: 21px;
    height: 21px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0x;
    //margin-bottom: 10px; //required to align with re-order button
}

.track-button-col {}