<ion-card no-margin no-padding color="medium">
  <ion-row align-items-center>
    <!-- <ion-col></ion-col> -->
    <ion-col sise="3">
      <!-- <ion-avatar> -->
        <ion-img [src]="track.image_url"></ion-img>
      <!-- </ion-avatar> -->
    </ion-col>
    <ion-col size="9">
      <ion-title no-padding >{{ track.name }}</ion-title>
      <ion-label no-padding color="dark">{{ track.artist }}</ion-label>

      <ion-buttons *ngIf="isCurator">
        <ion-button  color="light" shape="block" fill="outline">
          <ion-icon name="square"></ion-icon>
        </ion-button>
        <ion-button padding-horizontal  color="success"
          shape="block">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button  color="light" shape="block" fill="outline">
          <ion-icon name="skip-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div padding>
        <ion-progress-bar color="secondary" value="{{timeRemaining}}"></ion-progress-bar>
      </div>
    </ion-col>
  </ion-row>
</ion-card>