<ion-card no-margin no-padding color="medium" *ngIf="track !== null">
  <ion-row align-items-center>

    <ion-col size="3">
        <ion-img [src]="track.image_url"></ion-img>
    </ion-col>
    <ion-col size="9" text-wrap>

      <ion-title no-padding >{{ track.name }}</ion-title>

      <ion-label no-padding color="dark">{{ track.artist }}</ion-label>

      <ion-buttons *ngIf="isCurator"> 
          <ion-button padding-horizontal  color="success" shape="block" *ngIf="!isPlaying" (click)="playTrack()">
              <ion-icon name="play"></ion-icon>
            </ion-button>
        <ion-button padding-horizontal  color="success" shape="block" *ngIf="isPlaying" (click)="pauseTrack()">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button  color="light" shape="block" fill="outline" (click)="nextTrack()">
          <ion-icon name="skip-forward"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-progress-bar color="dark" value="{{timeRemaining}}"></ion-progress-bar>
        <div>
          {{ playingTime }} <span style="float: right"> - {{ currentTime }}</span>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-card>