ion-card {
  --background: linear-gradient(0deg,  rgba(56, 70, 108, .8) 30%, rgba(79, 83, 94, 0.8) 100%) !important;
  border-radius: 0;
  // max-width: 98vw;;
}

ion-title {
  // margin-bottom: 1%;
}

ion-img {
  max-width: 45%;
  margin-top: 10%;
  margin-left: 10%;
}

@media only screen and (min-width: 960px) {
  ion-img {
    max-width: 45%;
    margin-top: 10%;
    margin-left: 10%;
  }
}

ion-buttons {
  margin-top: 5%;
  margin-left: 35%;
}