<ion-card no-margin no-padding color="opendj" *ngIf="track !== null">
  <ion-row>
    <ion-col size="1">
        <ion-img [src]="track.image_url"></ion-img>
    </ion-col>
    <ion-col size="8" text-wrap>
      <ion-label color="dark" style="font-size: 16px; font-weight: bold; color: white;">{{ track.name }}</ion-label>
      <br/>
      <ion-label color="dark" style="font-size: 14px;color: #ddd;">{{ track.artist }} by {{track.added_by}}</ion-label>

      <div>
        <ion-progress-bar color="success" value="{{timeRemaining}}"></ion-progress-bar>
      </div>
      <div>
        {{ playingTime }} <span style="float: right"> - {{ currentTime }}</span>
      </div>
    </ion-col>

  <ion-col *ngIf="isCurator" size="3">
    <ion-button color="success" shape="round" *ngIf="!isPlaying" size="medium" (click)="playTrack()">
      <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button color="danger" shape="round" *ngIf="isPlaying" size="medium" (click)="pauseTrack()">
      <ion-icon name="pause"></ion-icon>
    </ion-button>

    <ion-button  color="danger" shape="round"  size="medium" (click)="nextTrack()">
      <ion-icon name="skip-forward"></ion-icon>
    </ion-button>
  </ion-col>

  </ion-row>
</ion-card>
