ion-card {
  --background: linear-gradient(0deg,  rgba(42, 44, 48, 0.8) 30%, rgba(44, 46, 49, 0.8) 100%) !important;
  border-radius: 0;
  // max-width: 98vw;;
}

ion-title {
  // margin-bottom: 1%;
}

ion-img {
  max-width: 100%;
  margin-top: 0%;
  margin-left: 0%;
}

@media only screen and (min-width: 960px) {
  ion-img {
    max-width: 100%;
    margin-top: 0%;
    margin-left: 0%;
  }
}

ion-buttons {
  margin-top: 15%;
  margin-left: 0%;
}