<ion-content fullscreen>
    <ion-toolbar translucent>
        <ion-buttons slot="end" margin-right>
            <ion-button color="light" (click)="presentMoreOptions($event)">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="login-form-wrapper">
        <div class="login-logo">
            <ion-img src="assets/img/Logo_OpenDJ_128.png" alt="OpenDJ logo"></ion-img>
        </div>
        <form [formGroup]="loginForm">

            <ion-list no-lines style="background: transparent !important;">
                <ion-item>
                    <a *ngIf="ctxIsEventKnown" text-wrap text-center style="color: #bbbbbb;">
                        Welcome to {{currentEvent.owner}}'s {{currentEvent.name}}!<br> 
                        We would like to know who you are, please enter a name.
                        <a *ngIf="!currentEvent.passwordUser" text-wrap text-center style="color: #bbbbbb;">
                        Of course, you can stay anonymous and use any alias. Click the magic wand to generate one.
                        </a>
                    </a>
                    <a *ngIf="!ctxIsEventKnown" text-wrap text-center style="color: #bbbbbb;">
                        To create your own event, we first need a username for you. Your guests will see that name, so choose wisely:
                    </a>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="username" type="text" clearInput="true" autofocus="true" placeholder="Username">
                    </ion-input>
                    <ion-note *ngIf="!ctxIsOwner" slot="end">
                        <ion-button (tap)="generateUsername()" shape="round" color="primary" size="small">
                            <ion-icon name="color-wand"></ion-icon>
                        </ion-button>
                    </ion-note>
                </ion-item>
                <ion-item *ngIf="!loginForm.controls.username.valid  && submitAttempt">
                    <p style="color: red;">Minimum length for username is 3.</p>
                </ion-item>

                <ion-item *ngIf="ctxIsOwner && ctxIsEventKnown && currentEvent.passwordOwner">
                    <ion-label position="stacked" color="light">Event Owner Password</ion-label>
                    <ion-input formControlName="password" type="password" clearInput="true">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="ctxIsCurator && ctxIsEventKnown && currentEvent.passwordCurator">
                    <ion-label position="stacked" color="light">Curator Password</ion-label>
                    <ion-input formControlName="password" type="password" clearInput="true">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="ctxIsUser && ctxIsEventKnown && currentEvent.passwordUser">
                    <ion-label position="stacked" color="light">Password</ion-label>
                    <ion-input formControlName="password" type="password" clearInput="true" [class.invalid]="!loginForm.controls.password.valid">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="!loginForm.controls.password.valid">
                    <p style="color: red;">Invalid password</p>
                </ion-item>


                <ion-button *ngIf="ctxIsOwner" text-center (tap)="loginOwner()" shape="round" type="submit" color="primary" expand="full" fill="outline">
                    Continue to Event
                </ion-button>

                <ion-button *ngIf="ctxIsCurator" text-center (tap)="loginCurator()" shape="round" type="submit" color="primary" expand="full" fill="outline">
                    Join as Curator
                </ion-button>

                <ion-button *ngIf="ctxIsUser" text-center (tap)="loginUser()" shape="round" type="submit" color="primary" expand="full" fill="outline">
                    Join Event
                </ion-button>
            </ion-list>

        </form>
    </div>

</ion-content>