.login-logo {
    min-height: 200px;
    text-align: center;
  }

  .login-logo ion-img {
    max-width: inherit;
  }

  .list {
    margin-bottom: 0;
  }
  .item, .list, .item-content, .item-complex {
    --ion-background-color: transparent !important;
  }

  .login-form-wrapper {
    text-align: center;
    max-width: 25vw;
    margin: 0 auto;
  }

  @media only screen and (max-width: 600px) {
    .login-form-wrapper {
      max-width: 65vw;
    }
  }

  .btn-group {
  }

  .login-btn {
    width: 40vw !important;
  }

  .magic-wand-btn {
    width: 25% !important;
  }

  .invalid{
    border-bottom: 1px solid rgba(255, 0, 0, 0.71);
  }

  .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: #fff !important;
  }

  ion-content {
    --background-color: transparent;
    --ion-color-base: transparent !important;
    --background: black;
  }

  ion-list {
    --background: transparent !important;
    --ion-background-color: rgba(53, 54, 56, 0.8) !important;
  }

  ion-input {
    color: white;
  }

  .input-clear-icon {
    color: white;
  }

  ion-toolbar {
    --background: transparent !important;
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  ion-footer {
    position: fixed;
    bottom: 0;
  }

  p.info-message {
    color: white !important;
  }
