<ion-content fullscreen>
  <ion-toolbar translucent>
    <ion-buttons slot="end" margin-right>
      <ion-button color="light" (click)="presentMoreOptions($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-col>
      <div class="login-form-wrapper">
        <div class="login-logo">
          <ion-img src="assets/img/opendj-logo.png" alt="OpenDJ logo"></ion-img>
        </div>

        <form [formGroup]="loginForm">

          <ion-list no-lines style="background: transparent !important;">
            <ion-item>
              <ion-label color="medium">
                  <p text-wrap text-justify>
                    Welcome! We would like to know who you are, please enter a name.
                    But of course, you can stay anonymous and use an alias. Just
                    click the magic wand!
                  </p>
              </ion-label>
            </ion-item>
            <ion-item marign-bottom>
              <ion-label position="stacked" color="light">Your Username
              </ion-label>
              <ion-input
                formControlName="username"
                type="text"
                clearInput="true"
                autofocus="true"
                [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
              </ion-input>
            </ion-item>
            <ion-item
              *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty || submitAttempt)">
              <p style="color: red;">Minimum length: 3.</p>
            </ion-item>

            <ion-item classs="btn-group">
              <!-- <ion-buttons class="btn-group">s -->
                <ion-button
                  (click)="loginAction()"
                  type="submit"
                  color="light"
                  class="login-btn"
                  expand="full"
                  shape="round"
                  fill="outline">
                  Login
                </ion-button>
              <ion-button
                (click)="generateUsername()"
                color="opendj"
                shape="round"
                expand="full"
                class="magic-wand-btn"
                fill="outline"
                slot="end">
                  <ion-icon name="color-wand"></ion-icon>
              </ion-button>
              <!-- </ion-buttons> -->
            </ion-item>
          </ion-list>



        </form>

      </div>

    </ion-col>
  </ion-grid>
  <!-- <ion-footer>
    <ion-toolbar>
      <div slot="end" padding> -->
        <!-- <a href="https://www.openshift.com/"
          title="Powered by OpenShift Online"> -->
          <!-- <ion-thumbnail> -->
          <!-- <img alt="Powered by OpenShift Online"
            title="Powered by OpenShift Online"
            src="https://www.openshift.com/images/logos/powered_by_openshift_reverse.png" /> -->
        <!-- </a>
      </div> -->
    <!-- </ion-toolbar>
  </ion-footer> -->
</ion-content>