<ion-content fullscreen>
  <ion-toolbar translucent>
    <ion-buttons slot="end" margin-right>
      <ion-button color="light" (click)="presentMoreOptions($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-col>
      <div class="login-form-wrapper">
        <div class="login-logo">
          <ion-img src="assets/img/opendj-logo.png" alt="OpenDJ logo"></ion-img>
        </div>

        <form [formGroup]="loginForm">

          <ion-list no-lines style="background: transparent !important;">
            <ion-item>
              <ion-label position="stacked" color="light">Your Username</ion-label>
              <ion-input formControlName="username" type="text" clearInput="true"
                [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
              </ion-input>
            </ion-item>
            <ion-item
              *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty || submitAttempt)">
              <p style="color: red;">Minimum length: 3.</p>
            </ion-item>

          </ion-list>

          <ion-button (click)="loginAction()" type="submit" color="light" expand="block" shape="round" fill="outline">Login
          </ion-button>
          <ion-button (click)="generateUsername()" color="primary" shape="round" fill="outline">
            <ion-icon name="color-wand"></ion-icon>
          </ion-button>

        </form>

        <!--
        <form #loginForm="ngForm" novalidate>
          <ion-list no-lines style="background: transparent !important;">
            <ion-item>
              <ion-label position="stacked" color="light">Username</ion-label>
              <ion-input color="light" [(ngModel)]="login.username" name="username" type="text" #username="ngModel"
                spellcheck="false" autocapitalize="off" clearInput required>
              </ion-input>
            </ion-item>

            <ion-text color="danger">
              <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
                Username is required
              </p>
            </ion-text>
          </ion-list>

          <ion-button (click)="onLogin()" type="submit" color="light" expand="block" shape="round" fill="outline">Login
          </ion-button>
        </form>
        -->
      </div>

    </ion-col>
  </ion-grid>

</ion-content>