<ion-header no-border color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>

        <ion-title color="light">
            OpenDJ
        </ion-title>

        <ion-buttons slot="end" margin-right>
            <ion-button color="light" (click)="presentMoreOptions($event)">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <div class="event-form-wrapper">


        <!-- 
        <ion-card *ngIf="(event?.eventID == userState?.currentEventID) && (userState?.isEventOwner)" style="background-color: #111; padding: 10px;">
            <p style="color: #fff; font-size: 18px;">You are logged in as Event owner.</p>
            <ion-button (tap)="editEvent()">
                <ion-icon name="build" slot="start"></ion-icon>
                Edit
            </ion-button>
            <ion-button color="danger" (tap)="deleteAlertConfirm()">
                <ion-icon name="trash" slot="start"></ion-icon>
                Delete
            </ion-button>
        </ion-card>
-->

        <ion-card *ngIf="event" style="background-color: #111;">


            <ion-card-header>
                <img src="assets/img/event_hdr.jpg" style="margin: auto; width: 160px; height: 107px " />
                <div style="width: 100%;  position: absolute;  top: 75px; color: #fff;">
                    <ion-card-title>{{event.name}}</ion-card-title>
                    <ion-card-subtitle style="color: white">organized by {{event.owner}}</ion-card-subtitle>
                </div>
            </ion-card-header>

            <ion-card-content>
                <!--                
                <ion-chip color="light">
                    <ion-icon name="calendar" color="success"></ion-icon>
                    <ion-label color="light">{{formatDate(event.eventStartsAt)}}</ion-label>
                </ion-chip>
                <ion-chip color="light">
                    <ion-icon name="calendar" color="danger"></ion-icon>
                    <ion-label color="light">{{formatDate(event.eventEndsAt)}}</ion-label>
                </ion-chip>
                <ion-chip color="light">
                    <ion-icon name="people" color="light"></ion-icon>
                    <ion-label color="light">Max {{event.maxUsers}} Users </ion-label>
                </ion-chip>
-->
                <p style="color: white;">
                    Welcome to OpenDJ! We would like to know who you are, please enter a name.
                    <span *ngIf="event.passwordUser !==''">
                        Ask your host about the password of the event (our look around, it might be advertised).
                    </span>
                    <span *ngIf="event.passwordUser ==''">
                        You can stay anonymous and use any alias. Click the magic wand to generate one.
                    </span>

                </p>

                <form [formGroup]="loginForm">
                    <ion-list lines="none" padding style="background: transparent !important; margin: 0 20px;">

                        <ion-item style="--ion-background-color: transparent !important; color: white;">
                            <ion-input style="background-color: #222428; border-radius: 10px" formControlName="username" type="text" clearInput="true" placeholder="Username">
                            </ion-input>
                            <ion-note slot="end">
                                <ion-button (tap)="generateUsername()" shape="round" color="primary" size="small" fill="outline">
                                    <ion-icon name="color-wand"></ion-icon>
                                </ion-button>
                            </ion-note>
                        </ion-item>
                        <ion-item *ngIf="!loginForm.controls.username.valid && submitAttempt">
                            <p style="color: red;">Minimum length for username is 3.</p>
                        </ion-item>

                        <ion-item *ngIf="event.passwordUser !==''" style="--ion-background-color: transparent !important; color: white;">
                            <ion-input style="background-color: #222428; border-radius: 10px" formControlName="password" type="password" clearInput="true" placeholder="Password">
                            </ion-input>
                        </ion-item>

                    </ion-list>

                    <div style="text-align: center;">
                        <ion-button type="submit" shape="round" color="primary" (tap)="join()" style="width: 75%">
                            Join Event
                        </ion-button>
                    </div>

                </form>

            </ion-card-content>

        </ion-card>


    </div>

</ion-content>