.loginFormItem {
    //    --ion-background-color: transparent !important;
    //    --background-focused: transparent;
    --ion-background-color: #222428;
    --background-focused: #222428;
    color: white;
}

.loginFormInputField {
    background-color: #222428;
    border-radius: 10px
}