.event-form-wrapper {
    text-align: center;
    max-width: 75vw;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .event-form-wrapper {
        max-width: 100vw;
    }
}

.item,
.list,
.item-content,
.item-complex {
    --ion-background-color: transparent !important;
    --background-focused: transparent;
    --color-focused: white;
}

.item-label {
    color: #fff;
}

ion-item {
    --border-color: #333;
}

ion-item-divider {
    font-size: 20px;
    color: #3880ff;
    margin-top: 20px;
}

.fitTrackWidthNumber {
    max-width: 52px;
}

.provider-item {
    --padding-top: 0px;
    --padding-bottom: 0px;
}

.provider-button {
    --padding-start: 10px;
    --padding-end: 10px;
    /*    
    min-height: 80px;
*/
    height: 30px;
}

.provider-img {
    max-width: 85px;
}

.provider-icon {
    height: 21px;
    margin-left: 10px;
    margin-right: 10px;
}