apiVersion: v1
kind: ConfigMap
metadata:
    name: frontend-web-config-map
    namespace: "{{ENV.COMMON.NAMESPACE|mandatory}}"
data:
    config.json: |-
        {
        "websocketHost": "{{ENV.FRONTEND_WEB.WEBSOCKET_HOST | default('http://{{STAGE}}.opendj.io')}}" ,
        "websocketPath": "/api/service-web/socket",
        "SPOTIFY_PROVIDER_API": "{{ENV.FRONTEND_WEB.API_HOST | default('')}}/api/provider-spotify/v1" ,
        "PLAYLIST_PROVIDER_API": "{{ENV.FRONTEND_WEB.API_HOST | default('')}}/api/service-playlist/v1",
        "SERVER_TIMEOUT": "{{ENV.FRONTEND_WEB.SERVER_TIMEOUT | default('7500')}}"
        }