ion-header {}

.hor-page-grid {
    --ion-grid-columns: 12;
    background: #121418;
}

.hor-track-grid {
    --ion-grid-columns: 12;
    //    --ion-grid-padding: 0px;
    //--ion-grid-column-padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    //   height: 500px;
    height: 80vh;
}

.track-cover-pic {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    width: 50px;
    height: auto;
}

.track-header {
    font-size: 16px;
    // This is needed to avoid that next colums
    // are not visibile to the right, because of long header names.
    // I cant find a way for angular to truncate the content correclty, this
    // is the best workaround I have found:
    width: 10px;
    color: #fff;
    margin: 0px;
    line-height: 100%;
}

.track-details {
    font-size: 14px;
    width: 10px;
    color: #999;
    margin: 0px;
    line-height: 100%;
}

.workaroundTransparency {
    background: #121418
}

.track-meta {
    line-height: 100%;
    color: #999;
}

.track-genre-col {
    min-width: 120px;
    max-width: 120px;
}

.track-meta-col {
    min-width: 90px;
}

.track-meta-bar {
    min-height: 10px;
    --background: #333;
}

.track-meta-bar-danceability {
    //    --progress-background: rgb(240, 65, 65);
    //   --progress-background: rgb(200, 25, 25);
    --progress-background: rgb(200, 25, 200);
    margin-bottom: 4px;
}

.track-meta-bar-energy {
    //    --progress-background: #008800;
    --progress-background: rgb(215, 166, 0);
    margin-bottom: 4px;
}

.track-meta-bar-happiness {
    //    --progress-background: rgb(255, 206, 0);
    --progress-background: #006600;
}

.track-feedback-col {
    min-width: 46px;
}

.track-provider-col {
    //    background: #FF00FF;
    min-height: 50px;
}

.track-provider-logo {
    width: 26px;
    height: 26px;
    margin-top: 7px;
    // Spotify-Rules dictate exclusion zone  of half the height around their logo:
    margin-left: 10px;
    margin-right: 10px;
    //margin-bottom: 10px; //required to align with re-order button
}

.hor-col-right {}

.hor-col-right-label {
    //    width: 100%;
    margin-top: 20px;
    background: rgb(200, 25, 200);
    font-weight: bold;
    //    color: #00FFFF;
}

.hor-event-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hor-event-qrcode {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hor-event-url {
    font-size: 24px;
}

.hor-opendj-logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-Tweet {
    max-height: 200;
}