.event-view-content {
    --ion-color-dark: #121418;
}

.hor-page-grid {
    --ion-grid-columns: 12;
}

.hor-col-left {
    max-height: 95vh;
    overflow-y: visible;
    overflow-x: hidden;
}

.timeline-Tweet {
    max-height: 40px;
}

.hor-col-center {
    max-height: 95vh;
}

.hor-track-grid {
    --ion-grid-columns: 12;
    //    --ion-grid-padding: 0px;
    //--ion-grid-column-padding: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: 85vh;
}

.track-cover-pic {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    width: 50px;
    height: auto;
}

.track-header {
    font-size: 16px;
    // This is needed to avoid that next colums
    // are not visibile to the right, because of long header names.
    // I cant find a way for angular to truncate the content correclty, this
    // is the best workaround I have found:
    width: 10px;
    color: #fff;
    margin: 0px;
    line-height: 100%;
}

.track-details {
    font-size: 14px;
    width: 10px;
    color: #999;
    margin: 0px;
    line-height: 100%;
}

.workaroundTransparency {
    background: #121418
}

.track-meta {
    line-height: 100%;
    color: #999;
}

.track-genre-col {
    min-width: 120px;
    max-width: 120px;
}

.track-meta-col {
    min-width: 90px;
}

.track-meta-bar {
    min-height: 10px;
    --background: #333;
}

.track-meta-bar-danceability {
    --progress-background: rgb(200, 25, 200);
    margin-bottom: 4px;
}

.track-meta-bar-energy {
    --progress-background: rgb(215, 166, 0);
    margin-bottom: 4px;
}

.track-meta-bar-happiness {
    --progress-background: #006600;
}

.track-feedback-col {
    min-width: 46px;
}

.track-provider-col {
    min-height: 50px;
}

.track-provider-logo {
    width: 26px;
    height: 26px;
    margin-top: 7px;
    // Spotify-Rules dictate exclusion zone  of half the height around their logo:
    margin-left: 10px;
    margin-right: 10px;
    //margin-bottom: 10px; //required to align with re-order button
}

.hor-col-right {}

.hor-col-right-label {
    font-size: 18;
    margin-top: 20px;
    background: rgb(200, 25, 200);
    //font-weight: bold;
}

.hor-event-img {
    width: 50%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hor-event-qrcode {
    width: 50%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hor-event-url {
    font-size: 24px;
}

.legend-div {
    margin-top: 20px;
    font-size: 12px;
    min-width: 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.legend-danceability {
    background: rgb(200, 25, 200);
}

.legend-energy {
    background: rgb(215, 166, 0);
}

.legend-happiness {
    background: #006600
}

.hor-opendj-logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}